/* ┌─────────────────────────────────────────┐
   │ mainvisual_area                      │
   └─────────────────────────────────────────┘ */

.mainvisual_area {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 8rem;
}

.mainvisual_inner {
  width: 100%;
  height: 100%;
}

.mainvisual_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo_img {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 15rem;
}

/* ┌─────────────────────────────────────────┐
   │ newspaper                               │
   └─────────────────────────────────────────┘ */

.newspaper_area {
  width: 100%;
  margin-bottom: 14rem;
  padding: 0 28rem;
}

.newspaper_inner {
  width: 100%;
}

.newspaper_title_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.newspaper_title {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
}

.newspaper_description {
  display: block;
  width: 60rem;
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

/* 親要素 画像二つを左右に分ける flex */
.img_container {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

/* └ 子要素 左・右の画像を指定（兼用）  */
.img_inner {
  width: 49%;
  position: relative;
}

.img_overlay {
  position: absolute;
  bottom: 0;
  width: 30rem;
  height: 12rem;
  background-color: #70707080;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  padding: 1rem;
}

.overlay_title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.overlay_text {
  font-size: 1.4rem;
  text-align: center;
}

/* ┌─────────────────────────────────────────┐
   │ fashion_area                            │
   └─────────────────────────────────────────┘ */

.fashion_area {
  width: 100%;
  height: 60rem;
  background-image: url("../img/fashion.jpg");
  background-size: cover; /* 要素いっぱいに広げる */
  background-position: center; /* 中央基準で表示 */
}

.fashion_wrapper {
  text-align: center;
  padding: 60px;
}

.fashion_title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2.3rem;
}

.fashion_description {
  display: block;
  width: 56rem;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.fashion_btn {
  display: inline-block;
  margin-top: 4rem;
  padding: 1.7rem 3.7rem;
  font-size: 1.2rem;
}

/* ┌─────────────────────────────────────────┐
   │ catalog_area                            │
   └─────────────────────────────────────────┘ */

.catalog_antique_area {
  width: 100%;
  margin-bottom: 6rem;
  padding: 0 28rem;
}

.catalog_antique_container1 {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}

.catalog_antique_container2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4rem;
}

.catalog_antique_img {
  width: 47%;
  height: 50rem;
}

.catalog_antique_img2 {
  width: 47%;
  height: 50rem;
}

.catalog_antique_description {
  width: 50rem;
}

.catalog_antique_title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 2rem;
}

.catalog_antique_link {
  display: block;
  width: 14rem;
  margin: 4rem auto 0 auto;
  padding: 1.7rem 3.7rem;
  border: 0.2rem solid #000;
  text-align: center;
  font-size: 1.2rem;
}

/* ┌─────────────────────────────────────────┐
   │ フッター                                │
   └─────────────────────────────────────────┘ */

.footer_area {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10rem 0;
}

.footer_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

.footer_img {
  width: 15rem;
  align-self: center;
}

.footer_title,
.footer_longtitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.footer_description,
.footer_dlongdescription {
  font-size: 1.4rem;
  line-height: 2;
}

/* ┌─────────────────────────────────────────┐
   │ コピーライト　　　                        │
   └─────────────────────────────────────────┘ */
.copyright_area {
  width: 100%;
  background-color: #ffffff;
  padding: 3.4rem 0;
  height: 8rem;
}

.copyright_inner {
  text-align: center;
}

.copyright_text {
  display: block;
  font-size: 1.2rem;
  color: black;
}

/* ┌─────────────────────────────────────────┐
   │ レスポンシブ                        │
   └─────────────────────────────────────────┘ */

@media screen and (max-width: 896px) {
  /* ┌─────────────────────────────────────────┐
     │            newspaper　　　　             │
     └─────────────────────────────────────────┘ */

  .newspaper_area {
    width: 100%;
    margin-bottom: 6rem;
    padding: 0 2rem;
  }

  .newspaper_description {
    width: auto;
  }

  .newspaper_inner {
    width: 100%;
  }

  /* 親要素 画像二つを左右に分ける flex */
  .img_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  /* ┌─────────────────────────────────────────┐
     │ Fashion style                       │
     └─────────────────────────────────────────┘ */

  .fashion_wrapper {
    text-align: center;
    padding: 60px;
  }

  .fashion_title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2.3rem;
  }

  .fashion_description {
    display: block;
    width: auto;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .fashion_btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
  }

  /* ┌─────────────────────────────────────────┐
     │ catalog_area                            │
     └─────────────────────────────────────────┘ */

  .img_inner {
    width: 100%;
    position: relative;
  }

  /* ┌─────────────────────────────────────────┐
   │ catalog_area                            │
   └─────────────────────────────────────────┘ */

  .catalog_antique_area {
    width: 100%;
    margin-bottom: 6rem;
    padding: 0 1.8rem;
  }

  .catalog_antique_container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
  }

  .catalog_antique_container2 {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .catalog_antique_img {
    width: 100%;
    height: 50rem;
  }

  .catalog_antique_img2 {
    width: 100%;
    height: 50rem;
    order: 2;
  }

  .catalog_antique_title_list2 {
    order: 1;
  }

  /* ┌─────────────────────────────────────────┐
     │ フッター                                │
     └─────────────────────────────────────────┘ */

  .footer_inner {
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4.3rem;
  }

  .footer_img {
    width: 15rem;
    align-self: center;
  }
}
